table, tr, td {
    border: 1px solid rgb(232, 90, 236);
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

#Success {
 font-weight: bold;
}

#Warning {
  font-weight: bold;
}

#Error {
  font-weight: bold;
}

body {
    background-color: rgb(44, 57, 71);
}

h3 {
    font-family: 'Zilla Slab', serif;
    color: whitesmoke;
}

.width {
  color: rgb(232, 90, 236);
}